.navbar-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  align-items: center;
  z-index: 100;
  height: 50px;
}

.container {
  display: grid;
  grid-template-columns: 50px repeat(6, 1fr) 50px;
  grid-auto-rows: minmax(50px, auto);
  align-items: center;
}
.pizza-container {
  grid-row: 2/3;
  grid-column: 1/6;
  margin: 0 auto;
}
.pasta-container {
  grid-row: 2/3;
  grid-column: 6/12;
  margin: 0 auto;
}

h1 {
  grid-column: 1/-1;
  grid-row: 1/2;
}

/* index.html */
.banner-text {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.meny-text {
  grid-column: 1/ span 12;
  grid-row: 1/2;
}

/* omOss.html */

#ourHistoryContainer {
  grid-column: 3/7;
  grid-row: 1/3;
}

#navbarLogo img {
  height: 50px;
  width: 70px;
}

#navbarLogo {
  height: 50px;
}

/* hittaHit.html */
#findUs {
  grid-column: 3/7;
}


.mapouter {
  grid-column: 3/7;
}

h3 {
  grid-column: 3/7;
}
#contactUs {
  grid-column: 3/7;
}

h4 {
  grid-column: 3/7;
}

.contactInfo {
  grid-column: 3/7;
}




@media (max-width: 500px) {
  .navbar-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
