/*Länk till font Italiana:*/
@import url("https://fonts.googleapis.com/css?family=Italiana");

body {
  font-family: "Italiana";
}

* {
  margin: 0;
  padding: 0;
}
.active {
  background-color: rgba(8, 154, 58, 0.88);
}

li {
  color: black;
}

li > a {
  color: black;
  text-decoration: none;
}

nav {
  background-color: #f1f1f1;

  font-family: "Italiana";
  line-height: 50px;
  text-align: center;
  position: fixed;
  z-index: 10;
  width: 100vw;
}

.navbar-grid li > a {
  color: black;
  text-decoration: none;
}

.gallery {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 1s ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex;
}

.transparent {
  opacity: 0;
}

h1 {
  text-align: center;
  font-weight: bolder;
  color: black;
  padding: 50px 0px;
  font-size: 50px;
  font-family: "Italiana";
}

h2 {
  text-align: center;
  font-weight: bolder;
}

/*index.html*/
#h1IndexHTML {
  z-index: 1;
  background-color: rgba(171, 196, 189, 0.5);
  border-radius: 30px;
  padding: 20px 10px;
}

/* hittaHit.html */

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 700px;
  margin: auto;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 700px;
}

#addressDescription {
  text-align: center;
}

#gmap_canvas {
  height: 500px;
  width: 700px;
  border: none;
  overflow: hidden;
  margin: 0px;
}

h3 {
  padding: 30px 0px;
  font-size: 30px;
  text-align: center;
}

#pathDescription {
  grid-column: 3/7;
}

h2 {
  padding: 40px 0px;
  font-size: 40px;
  text-align: center;
}

.contactInfo {
  margin-bottom: 200px;
}

#contactInfo {
  font-size: 18px;
  list-style: none;
  font-family: "Italiana", cursive;
}

#contactInfo li {
  padding: 20px 0px;
}

#contactInfo a {
  color: #0000ee;
}

h6 {
  font-size: 24px;
  padding: 30px;
  letter-spacing: 2px;
}

footer {
  display: flex;
  width: 100%;
  background-color: #f4dcd2;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 10px;
}

footer ul {
  font-size: 18px;
  list-style: none;
  font-family: "Italiana";
  padding: 30px;
  color: black;
}

/* index.html */
.banner-text {
  color: #73361c;
  margin: 50px 0;
}

.meny-text {
  color: #385124;
  margin: 20px auto;
  font-size: 25px;
}

#navbarLogo img {
  height: 50px;
  width: 70px;
}

#navbarLogo {
  height: 50px;
}

.banner {
  background-color: #f4dcd2;
}

.pizza-container ol li {
  font-size: 20px;
}
.pizza-container h3 {
  text-decoration: underline;
  color: #385124;
}
.pasta-container ol li {
  font-size: 20px;
}
.pasta-container h3 {
  text-decoration: underline;
  color: #385124;
}
#meny {
  background-color: #e5f0dc;
  padding-bottom: 100px;
}

.menu {
  visibility: hidden;
  font-size: 30px;
  margin-left: 50%;
}
.mobil-meny {
  visibility: hidden;
  color: white;
  font-size: 30px;
  margin-right: 15px;
}
.close {
  color: white;
  margin: 20px;
  font-size: 30px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 10;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* omOss.html */
#ourHistoryContainer {
  color: #ff0035;
  background-color: rgba(171, 196, 189, 0.7);
  border-radius: 5px;
  margin: 50px 0px;
  justify-self: center;
  max-width: 500px;
}

#history {
  padding: 30px 0px;
  text-align: center;
}

#ourHistoryContainer p {
  color: black;
  font-size: 16px;
  font-family: "Italiana";
  font-weight: bold;
  padding: 25px;
}

@media (max-width: 500px) {
  .menu {
    visibility: visible;
  }
  nav {
    justify-content: space-between;
  }
  nav ul li:not(:last-child):not(:first-child) {
    display: none;
  }
  .mapouter {
    width: 350px;
    height: 400px;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  footer ul {
    padding: 10px 0;
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
    font-size: 14px;
  }
  footer h6 {
    padding: 10px 0;
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
    font-size: 14px;
  }
  .gmap_canvas {
    height: 350px;
    width: 400px;
  }
  #gmap_canvas {
    height: 350px;
    width: 400px;
  }
}

@media (max-width: 800px) {
  footer {
    height: 400px;
  }

  footer ul {
    width: 100%;
    text-align: center;
  }
}

#omOssContainer {
  width: 100%;
  height: 80vh;
  background-image: url("images/pizzaOmOss.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 500px) {
  #omOssContainer {
    height: 80vh;
  }
}
